#Test Directories
enhanced
ZZZZZZ-ProjectsTests/*
ZZZZZZ-FIND_COORDS&COLORS/*
ZZZZZ-TEST-IIIIIIIIMG/*

OLD/Utils/IMG/*
OLD/ZZZZpractice/tst/*
OLD/ZZZZpractice/tst


OLD/UI/bot_manager/temp
OLD/UI/bot_screenshots/*
OLD/ZZZZpractice/bot_screenshots/*
image_reader/basics/tests/*
image_reader/basics/tests/find_color.py
image_reader/basics/tests/find_coords_ss.py
image_reader/tests/*
OLD/Database/temp/*
OLD/ZZZZpractice/*
OLD/ZZZZpractice


**__pycache__/
.idea
venv/
.env
!ZZZZZZ-FIND_COORDS&COLORS/bot_screenshots/.gitkeep
!OLD/UI/bot_screenshots/.gitkeep