#Test Directories

ZZZZZZ-ProjectsTests/*
ZZZZZZ-FIND_COORDS&COLORS/*
ZZZZZ-TEST-IIIIIIIIMG/*

UI/bot_screenshots/*
image_reader/basics/bot_screenshots/*
image_reader/basics/tests/*
image_reader/basics/tests/find_color.py
image_reader/basics/tests/find_coords_ss.py
image_reader/tests/*
database/temp/*
practice/*

**__pycache__/
.idea
venv/
.env

!ZZZZZZ-FIND_COORDS&COLORS/bot_screenshots/.gitkeep
!UI/bot_screenshots/.gitkeep